aside {    
    background-color: #6236FF; 
    padding: 10px;  
    padding-left: 0;      
}


.main-nav {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}


.nav-list {
    margin-top: 135px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
}

.link {
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    color: #B39EFF;
    margin-bottom: 40px;
    margin-left: 10px;
    
}

.active {
    color: white;
}

.nav-icons {
    width: 20px;
    margin-left: 34px;

}